body, h4, p {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: "Robot", sans-serif;
  font-weight: 100;
}

.btn-select {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  border-radius: 25px;
  padding: 15px;
  margin: 30px 45px;
}

.btn-like {
  font-size: 24px;
}

.header {
  background-color: #FFF;
  padding: 15px;
  box-shadow: 2px 2px 12px #CDCAD1;
}
.header__logo {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  width: 50%;
}

.location {
  background-color: #EAEAEA;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.location__searchfield {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.location__icon {
  margin-right: 10px;
  margin-left: 72px;
}

.footer {
  background-color: #353535;
  padding: 20px;
}
.footer__logo {
  filter: invert(1);
}
.footer__logo img {
  width: 25%;
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
.footer__list a {
  color: white;
  font-size: 12px;
}
.footer__list a .fa-utensils {
  margin-right: 10px;
}
.footer__list a .fa-hands-helping {
  margin-right: 8px;
  font-size: 10px;
}

.description {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.description__title {
  padding: 0px 30px 0px 30px;
  margin: 0;
}
.description__subtitle {
  margin: 0;
  padding-top: 15px;
}

.operating-mode {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.operating-mode__steps {
  display: flex;
  flex-direction: column;
}
.operating-mode__step {
  background-color: #F6F6F6;
  padding: 25px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 2px 12px #CDCAD1;
}
.operating-mode__step:hover {
  background-color: #f2eafb;
}
.operating-mode__step:hover i {
  color: #9356DC;
}
.operating-mode__step i {
  font-size: 16px;
  width: 40px;
  color: grey;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 35px 20px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.restaurantbox {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 260px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 12px #CDCAD1;
}
.restaurantbox__img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurantbox__badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #3A8867;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 2px;
}
.restaurantbox__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding-right: 25px;
  padding-left: 15px;
}
.restaurantbox__text {
  color: #000;
}
.restaurantbox__title {
  margin-bottom: 2px;
}/*# sourceMappingURL=main.css.map */