@import "../utils/variables";
@import "../utils/mixins";

.btn-select {
    color: $color-white;
    display: inline-block;
    text-align: center;
    align-self: center;
    border-radius: 25px;
    padding: 15px 10px;
    margin: 30px 0;
    width: 180px;
    @include linear-gradient;
    @include box-shadow-lighter;     
    transition: all 500ms;
    &:hover {
        transform: scale(1.1);
        opacity: 0.9;
        @include box-shadow-darker;
    }
}

.like {
    font-size: 24px;
    cursor: pointer;
    &:hover {
        .like__btn {
            color: $color-primary;
        }
    }

    &:focus {
        .like__btn {
            @include active-heart;
        }
    }
}
