@import "../utils/variables";
@import "../utils/mixins";

.description {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;

    &__title {
        padding: 0px 30px 0px 30px;
        margin: 0;
    }

    &__subtitle {
        margin: 0;
        padding-top: 15px;
    }
}

.operating-mode {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    &__steps {
        display: flex;
        flex-direction: column;
    }

    &__step {
        background-color: $color-background;
        padding: 25px 35px;
        border-radius: 20px;
        margin: 10px;
        cursor: default;
        @include box-shadow-lighter;

        &:hover {
            background-color: #f2eafb;
            opacity: 0.8;
            @include box-shadow-darker;

            i {
                color: $color-primary;
            }
        }

        i {
            font-size: 16px;
            width: 40px;
            color: grey;
        } 
    }

    &__circle {
        position: absolute;
        left: 14px;
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
        border-radius: 100%;
        padding: 4px 4px;
        height: 20px;
        width: 20px;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    padding: 35px 20px;

    &__list {
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
    }
}

.restaurant-box {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    position: relative;
    border-radius: 20px;
    width: 100%;
    max-width: 360px;
    height: 260px;
    margin-bottom: 15px;
    @include box-shadow-lighter;
    transition: all 500ms;
    &:hover {
        transform: scale(1.03);
        @include box-shadow-darker;
    }

    &__img {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    &__badge {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        color: $color-green-darker;
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 2px;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30%;
        padding-right: 25px;
        padding-left: 15px;
        
        
    }

    &__text {
        color: $color-black;
    }

    &__title {
        margin-bottom: 2px;
    }
}