// Box shadow //
@mixin box-shadow-lighter{
    box-shadow: 2px 2px 12px #9b9a9e;
}

@mixin box-shadow-darker {
    box-shadow: 2px 2px 12px #353434;
}

// Linear gradient //
@mixin linear-gradient{
    background: linear-gradient($color-secondary, $color-primary);
}

// Like button animation //
@mixin active-heart {
    color: $color-secondary;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.6s ease;
}

// Media queries //
@mixin tablet {
    @media  screen and (min-width: 768px) {
        @content;
    }
}
