// Basic colors of webside //

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$color-background-darker: #EAEAEA;
$color-black: #000;
$color-white: #FFF;
$color-green-darker:#3A8867;

// Font family //

$menu-title-font: "Shrikhand";
