$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-backgroud: #F6F6F6;
$color-backgroud-darker: #EAEAEA;
$color-black: #000;
$color-white: #FFF;

$logo-title-font: "Shrikhand";
$text-font: "Roboto",sans-serif;