/* Basic colors of website */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$color-background-darker: #eaeaea;
$color-black: #000;

/* Fonts family */

$logo-title-font: "Shrikhand";
$text-font: "Roboto";
